@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet');

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #cdd0d4;
    border-radius: 10px;
}
